{%- from 'macros/helpers.njk' import spriteTarget -%}
<!doctype html>
<html lang="{{ meta.lang }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,viewport-fit=cover">
    {% block head.pragma %}{% endblock %}
    <title>{% block title %}{{ meta.title }} {{ title }}{% endblock %}</title>
    {% block head.preconnect %}{% endblock %}
    <link rel="stylesheet" href="{{ 'index.css' | assetUrl('stylesheets') }}">
    {% block head.stylesheets %}{% endblock %}
    {% block head.preload %}{% endblock %}
    {% block head.async-scripts %}{% endblock %}
    <meta name="description" content="{{ description or meta.description }}">
    <meta name="color-scheme" content="light dark">
    <link rel="manifest" href="{{ 'manifest.json' | assetUrl('static') }}">
    <link rel="canonical" href="{{ canonicalUrl }}">
    {% include "shared/app-icons.html" %}
    {% block head %}{% endblock %}
  </head>
  <body>
    {% block content %}{% endblock %}
    {% block javascript %}{% endblock %}
    {{ spriteTarget() }}
  </body>
</html>
