{%- from 'macros/helpers.njk' import spriteTarget -%}
<!doctype html>
<html lang="{{ lang }}">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if images %}
    <meta http-equiv="delegate-ch" content="sec-ch-width https://res.cloudinary.com; sec-ch-dpr https://res.cloudinary.com; sec-ch-viewport-width https://res.cloudinary.com;">
    <link rel="preconnect" href="https://res.cloudinary.com">
    {% endif %}
    <link rel="stylesheet" href="{{ 'index.css' | assetUrl('stylesheets') }}">
    <link rel="manifest" href="{{ 'manifest.json' | assetUrl('static') }}">
    {% include "shared/app-icons.html" %}
    {% block head %}{% endblock %}
  </head>
  <body>
    {% block content %}{% endblock %}
    {% block javascript %}{% endblock %}
    {{ spriteTarget() }}
  </body>
</html>
